* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: yellow;
}

li button {
    margin-left: 10px;
    height: 25px;
    margin-top: 12.5px;
}

ul {
    display: flex;
    flex-direction: column;
    padding: 0px;
}

li {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    margin-left: 0px;
    background: wheat;
}